.navbar {
    background: rgba(0, 0, 0, .3);    /* Częściowa przezroczystość: czarny 30% */
}

.navbar-light .navbar-brand {
color: rgba(0, 0, 0, 0.3);
}  

.position-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
}

  [tabindex="-1"]:focus {
  outline: 0 !important;
}
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding-top: 105px;
}
p{
    text-align: justify;
}

#onas {
    background: #f6f6f6;
}
#galeria { 
    background: #f6f6f6;
}

section {
    padding: 20px 0;
}

.navbar {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}

table{
    width: 100%;   
    background-color: #f1f1c1;
    width: 100%; 
    height: 15em;
   border-collapse: collapse;
   
   
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}
table td{
        border: 1px solid #ddd;
    padding: 8px;
}
.jumbotron{
    background: #ff6600; 
    color: #fff; 
    margin-bottom: 0;
    text-align: center;
}